.rotated-0 {transform: rotate(0);}
.rotated-1 {transform: rotate(40deg);}
.rotated-2 {transform: rotate(80deg);}
.rotated-3 {transform: rotate(120deg);}
.rotated-4 {transform: rotate(160deg);}
.rotated-5 {transform: rotate(200deg);}
.rotated-6 {transform: rotate(240deg);}
.rotated-7 {transform: rotate(280deg);}
.rotated-8 {transform: rotate(320deg);}


body {
	background-color: #525253 !important;
}
.container-fluid {
	margin-top: 26px;
	
}

.row:first-child {
	margin-left: 4px;
}

#pelle {
	width: 75%;
}

#tbody-bonus th, #div-loot b {
	text-transform: capitalize;
}

tbody td {
	vertical-align: middle !important;
}

#div-loot p {
	border-radius: 16px;
	padding-left: 15px;
}

#div-loot .even {
	background-color: #4d79ff;
}

#div-loot .odd {
	background-color: #94b8b8;
}