.rotated-0 {transform: rotate(0);}
.rotated-1 {transform: rotate(40deg);}
.rotated-2 {transform: rotate(80deg);}
.rotated-3 {transform: rotate(120deg);}
.rotated-4 {transform: rotate(160deg);}
.rotated-5 {transform: rotate(200deg);}
.rotated-6 {transform: rotate(240deg);}
.rotated-7 {transform: rotate(280deg);}
.rotated-8 {transform: rotate(320deg);}